[user]
	name = KC Wayman
	email = kc.wayman@appian.com
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore-global
  pager = less -F -X
  editor = vim
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status --short
  sp = show --patch
  l = log --pretty=format':[%ad] %h | %an: %s'
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  div = merge-base @ upstream/master
  since = !git log --oneline --reverse `git div`..@
  squish = !git rebase -i `git div` --autosquash
  ls-chg = !git diff --name-status `git div` @
  chg = !git diff `git div` @
  pr = !git difftool `git div` @
  untracked = ls-files --others --exclude-standard
  sync = fetch --all --prune
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[rerere]
	enabled = 1
