[user]
	name = KC Wayman
	email = kc.wayman@appian.com
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore-global
  pager = less -F -X
  editor = vim
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status --short
  l = log --pretty=format':[%ad] %h | %an: %s'
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
